<form #invoiceForm="ngForm">
  <div class="container-fluid pt-2 mb-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title">Informatii client</h4>
            <div class="row">
              <div class="col-md-6 ">
                <div class="form-group">
                  <label for="name">Nume</label>
                  <input type="text" class="form-control" name="name" id="name"
                         [ngClass]="{'is-invalid': invoiceForm.submitted && CustName.invalid}"
                         [(ngModel)]="invoice.customerName" #CustName="ngModel" >
                </div>
                <div class="form-group">
                  <label for="address">Telefon</label>
                  <input class="form-control" name="phone" id="phone" row="3"
                            [(ngModel)]="invoice.phone" #Address="ngModel" />
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" name="email" id="email"
                         [(ngModel)]="invoice.email" >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-secondary mt-2">
          <div class="card-body">
            <h4 class="card-title d-flex justify-content-between">Servicii
              <button type="button"
                      class="btn btn-secondary" (click)="addProduct()">+
              </button>
            </h4>
            <div class="row">
              <table class="table">
                <thead>
                <tr>
                  <th width="25%">Product</th>
                  <th width="25%">Price</th>
                  <th width="25%">Quantity</th>
                  <th width="25%">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of invoice.products; let i=index">
                  <td scope="row">
                    <div ngbDropdown class="d-inline-block">
                      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        {{product.name || 'Serviciu'}}
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem *ngFor="let service of services"
                                (click)="selectService(service, i)">{{service.name}}</button>
                      </div>
                    </div>
<!--                    <input type="text" class="form-control" name="productName{{i}}"-->
<!--                           [ngClass]="{'is-invalid': invoiceForm.submitted && ProductName.invalid}"-->
<!--                           id="productName" [(ngModel)]="product.name" #ProductName="ngModel"-->
<!--                           required>-->
                  </td>
                  <td>
                    <input type="number" class="form-control" name="price{{i}}" id="price"
                           [ngClass]="{'is-invalid': invoiceForm.submitted && ProductPrice.invalid}"
                           [(ngModel)]="product.price" #ProductPrice="ngModel" required>
                  </td>
                  <td>
                    <input type="number" class="form-control" name="quantity{{i}}" id="quantity"
                           [ngClass]="{'is-invalid': invoiceForm.submitted && ProductQty.invalid}"
                           [(ngModel)]="product.quantity" #ProductQty="ngModel" required>
                  </td>
                  <td>
                    {{product.price * product.quantity || ''}}
                  </td>
                  <td>
                    <button class="delete" (click)="deleteProduct(product)">Delete</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card border-secondary mt-2">
          <div class="card-body">
            <h4 class="card-title">Detalii suplimentare</h4>
            <div class="form-group">
                            <textarea class="form-control" name="additionalDetails" rows="3"
                                      [(ngModel)]="invoice.customerName"></textarea>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <button type="button" class="btn btn-secondary btn-lg btn-block"
                (click)="invoiceForm.valid ? generatePDF('download') : ''">Descarca factura
        </button>
<!--        <button type="button" class="btn btn-secondary btn-lg btn-block"-->
<!--                (click)="invoiceForm.valid ? generatePDF('print') : ''">Print-->
<!--          Invoice-->
<!--        </button>-->
        <button type="submit" class="btn btn-secondary btn-lg btn-block"
                (click)="generatePDF()">Vezi Factura
        </button>
      </div>
    </div>
  </div>
</form>
