/* You can add global styles to this file, and also import other style files */
#content > * {
  width: 90%;
  margin: 1em auto;
}
.btn {
  margin: .5em;
}
.ui-fluid > *{
  border-radius: 10px;
}
.body {
  background-color: lightgrey;
  border-radius: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
